*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(219, 151, 151);
}

.formtask{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.middlediv{
    margin: 5rem;
   width: 100%;
   /* border: 5px solid black; */
   justify-content: center;
   
}
.form-group{
    width: 30%;
    margin-left: 40rem;
}
label{
    font-size: 35px;
}
.btn{
    margin-top: 1rem;
    padding: 0.8rem;
    font-size: 10px;
    width: 30%;
    margin-left: 40rem;
}
.showdata{
    display: inline;
    text-align: center;
}
span{
    font-size: 30px;
    background-color: rgb(245, 183, 219);
    border-radius: 5px;
    list-style-type: none;
    margin: 2px;
    text-align: center;
    padding: 1rem 6rem 1rem 7rem;
}